*{
    margin: 0;
}
  header {
    background-color: #000;
    padding: 5px;
  }
  header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #fff;
    padding: 5px 10px;
    display: inline-block;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
  }
  .reto {
    width: 200px;
    height: 100vh;
    background-color: #f9f8f7;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    border-radius: 0 0 12px 12px;
  }
  
  body {
    background-color: #f0f0f0be;
  }
  .top-button {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #888;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #666;
  }
  
  .cadastrar {
    background-color: #e1e1e1;
    color: #333;
  }
  #produto-form {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#produto-form h3 {
    margin-bottom: 15px;
    text-align: center;
}

#produto-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#produto-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#produto-form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#produto-form button:hover {
    background-color: #218838;
}


#catalogo {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#catalogo h3 {
    text-align: center;
    margin-bottom: 15px;
}

#produtoCatalogo {
    list-style: none;
    padding: 0;
}

#produtoCatalogo li {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#produtoCatalogo li img {
    display: block;
    margin-top: 10px;
    max-width: 100px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}